<h1>Runners Who Have Participated In Past Charity Runs</h1>
<br>
<br>
<br>
<br>
<ol>
  <li *ngFor=" let contestant of contestants">
    <img class="image" [src]="contestant.contestantImage"/> <br>
   <p><b class="name">Racers Name: {{contestant.name}}</b></p><br>
      <b> Gender: {{contestant.gender}} </b><br>
      <b> Age: {{contestant.age}} </b><br>
      <b> City: {{contestant.representingCity}} </b><br>
      <b> State: {{contestant.representingState}} </b><br>
      <b> Event Name: {{contestant.eventName}} </b><br>
      <b> Event Date: {{contestant.eventDate}} </b><br>
      <b> Placed: </b> <b class="place"> {{contestant.place}} </b><br>
    <hr>
    <hr>

    </li>
</ol>
